<ion-header style="padding-bottom:0px;">
    <button ion-button menuToggle color="theme-dark" class="toggle-button-top">
    <ion-icon name="menu" class="toggle-button-icon"></ion-icon>
    </button>
    <span class="top-text"><strong>Referral Summary</strong></span> </ion-header>
  <ion-content padding>
    <ion-grid class="padding-top-0">
      <ion-row class="padding-top-0">
        <ion-col col-12>
          <div id="potential-earnings">
            <p><strong>Potential Eearnings</strong> <br>
              Today, 21 Feb
              <button ion-button color="theme" class="refer-btn" style="float:right;">+ Refer Now</button>
            </p>
            <p>$<span>640</span>.00</p>
            <p><strong>32 referrals joined.</strong></p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="row">
        <ion-col col-12>
          <ion-slides slidesPerView="1.5">
            <ion-slide *ngFor="let market of markets" class="ion-slide-one-home" (click)="detailMarket(market.id)">
              <h5 class="ion-slide-h5-one theme-dark">{{market.title}}</h5>
              <p class="ion-slide-p-one theme-blue-color" color="primary">{{market.description}}</p>
              <img src="{{market.image}}" style="width:75%;">
              <ion-row>
                <ion-col col-6>
                  <button ion-button color="theme" small round class="ion-silde-one-button">Refer Now</button>
                </ion-col>
                <ion-col col-6>
                  <button ion-button color="primary" small round class="ion-silde-one-button">Quote</button>
                </ion-col>
              </ion-row>
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
      <ion-row class="row">
        <ion-col col-12>
          <h1 color="theme-dark"><b>Communities</b></h1>
          <p><b class="light-grey-color">Our common grounds</b></p>
        </ion-col>
        <ion-col col-12>
          <ion-slides slidesPerView="1">
            <ion-slide *ngFor="let community of communities" class="ion-slide-two-home" (click)="detailCommunity(community.id)">
              <div style="position: relative"><img src="{{community.image}}"></div>
              <ion-col col-6 class="community-text-area">
                <h6><strong>{{community.title}}</strong></h6>
                <button ion-button color="theme" small class="invite-friends-btn">Invite Friends</button>
              </ion-col>
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
      <!-- <button ion-button secondary menuToggle>Toggle Menu</button> --> 
    </ion-grid>
  </ion-content>
  