page-detail-market {
    .page-tabs-btn{width: 50%;}
    .detail-page-btn{background-color: red;}
    .toolbar-background-ios, .toolbar-background-md{background-color: transparent !important;}
    .ion-list-btn-area{margin-bottom: 0px !important}
}
